doctype html

html
  head
    title Generic - Forty by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lte IE 8
      script(src='js/ie/html5shiv.js')
    link(rel='stylesheet', href='css/main.css')
    //if lte IE 9
      link(rel='stylesheet', href='css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie8.css')
  body
    // Wrapper
    #wrapper
      // Header
      header#header
        a.logo(href='index.html')
          strong Node
          span by Yoga
        nav
          a(href='#menu') Menu
      // Menu
      nav#menu
        ul.links
          li
            a(href='home') Home
          li
            a(href='landing') Landing
          li
            a(href='generic') Generic
          li
            a(href='elements') Elements
        ul.actions.vertical
          li
            a.button.special.fit(href='#') Get Started
          li
            a.button.fit(href='#') Log In
      // Main
      #main.alt
        // One
        section#one
          .inner
            header.major
              h1 Generic
            span.image.main
              img(src='img/pic11.jpg', alt='')
            p
              | Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.
            p
              | Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.
      // Contact
      section#contact
        .inner
          section
            form(method='post', action='#')
              .field.half.first
                label(for='name') Name
                input#name(type='text', name='name')
              .field.half
                label(for='email') Email
                input#email(type='text', name='email')
              .field
                label(for='message') Message
                textarea#message(name='message', rows='6')
              ul.actions
                li
                  input.special(type='submit', value='Send Message')
                li
                  input(type='reset', value='Clear')
          section.split
            section
              .contact-method
                span.icon.alt.fa-envelope
                h3 Email
                a(href='#') information@untitled.tld
            section
              .contact-method
                span.icon.alt.fa-phone
                h3 Phone
                span (000) 000-0000 x12387
            section
              .contact-method
                span.icon.alt.fa-home
                h3 Address
                span
                  | 1234 Somewhere Road #5432
                  br
                  | 										Nashville, TN 00000
                  br
                  | 										United States of America
      // Footer
      footer#footer
        .inner
          ul.icons
            li
              a.icon.alt.fa-twitter(href='#')
                span.label Twitter
            li
              a.icon.alt.fa-facebook(href='#')
                span.label Facebook
            li
              a.icon.alt.fa-instagram(href='#')
                span.label Instagram
            li
              a.icon.alt.fa-github(href='#')
                span.label GitHub
            li
              a.icon.alt.fa-linkedin(href='#')
                span.label LinkedIn
          ul.copyright
            li © Untitled
            li
              | Design: 
              a(href='https://html5up.net') HTML5 UP
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.scrolly.min.js')
    script(src='js/jquery.scrollex.min.js')
    script(src='js/skel.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')
